<%= form_with model: @message, local: true, scope: :message do |f| %>
<%= render 'shared/error_messages', resource: @message %>
        <div class="message-form-content">
          <div class="message-form-left">
            <div class="message-form">
              <%= f.text_area :text, placeholder: "内容" %>
            </div>
            <div>
              <%= f.text_field :name, placeholder: "名前" %>
            </div>
          </div>
          <div class="message-form-right">
            <div class="message-date">
              <%= f.date_field :event_date %>
            </div>
            <div class="message-form">
              <%= f.file_field :image %>
            </div>
            <%= f.hidden_field :unit_id, value: @unit.id %>
            <%= f.submit "保存", class: "message-btn" %>
        </div>
        </div>
      <% end %>