<header class="home-header">
    <h1>
      <%= current_user.name %>
    </h1>
    <h1>
      <%= @unit.name %>
    </h1>
</header>

<div class="main-content">
  <div class="home-date">
    <div class="home-content-title">日付</div>
    <%= form_with url: unit_home_index_path(@unit), method: :get, local: true, class: "date-search" do |f| %>
        <%= f.date_select :event_date, discard_day: true %>
        <%= f.submit '検索' %>
      <% end %>
    <div class="date-content">
      <% @event_date.each do |ed| %>
        <div class="date-font"><%= ed.event_date.strftime("%Y年  %-m月  %d日") %></div>
      <% end %>
    </div>
  </div>

  <div class="home-message">
    <div class="home-content-title">申し送り</div>
      <%= form_with model: @message, url: messages_path, local: true, scope: :message do |f| %>
        <% if flash[:error] %>
          <div class="error-alert">
            <ul>
              <% flash[:error].each do |message| %>
                <li class='error-message'><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="message-form-content">
          <div class="message-form-left">
            <div class="message-form">
              <%= f.text_area :text, placeholder: "内容" %>
            </div>
            <div>
              <%= f.text_field :name, placeholder: "名前" %>
            </div>
          </div>
          <div class="message-form-right">
            <div class="message-date">
              <%= f.date_field :event_date %>
            </div>
            <div class="message-form">
              <%= f.file_field :image %>
            </div>
            <%= f.hidden_field :unit_id, value: @unit.id %>
            <%= f.submit "保存", class: "message-btn" %>
        </div>
        </div>
      <% end %>

      <div class="message-content">
        <% @messages.each do |message| %>
          <div>
            <%= message.text %>
            <%= message.name %>
            <%= message.created_at.in_time_zone('Tokyo').strftime("%H:%M") %>
            <%= image_tag url_for(message.image), class: "message-image" if message.image.attached? %>
            <%= link_to "編集", edit_message_path(message) %>
            <%= link_to "削除", message_path(message), method: :delete %>
          </div>
        <% end %>
      </div>
    </div>
  <div class="home-task">
    <div class="home-content-title">タスク</div>
    <div class="task-content"></div>
  </div>
</div>

