<h1>階層もしくはユニット名を新規作成</h1>

<%= form_with model: @unit, local: true do |f| %>

<%= render 'shared/error_messages', model: f.object %>

  <div class="field">
    <%= f.label "階層名もしくはユニット名" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "作成する", class: "btn" %>
  </div>
<% end %>